.admins-page{
  padding:40px;
  background:#0b1f3a;
  min-height:100vh;
  color:white;
}

.admins-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.create-btn{
  background:#ff7a00;
  color:white;
  padding:10px 16px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.admin-form{
  display:flex;
  flex-direction:column;
  gap:15px;
  background:#fff;
  color:#000;
  padding:20px;
  border-radius:8px;
  margin-bottom:20px;
  width:320px;
}

.admin-form input{
  padding:10px;
  border-radius:6px;
  border:1px solid #ddd;
}

.admin-form button{
  background:#ff7a00;
  color:white;
  border:none;
  padding:10px;
  border-radius:6px;
  cursor:pointer;
}

.cancel-btn{
  background:black;
}

table{
  width:100%;
  border-collapse:collapse;
  background:white;
  color:black;
}

th{
  background:#0b1f3a;
  color:white;
  padding:12px;
}

td{
  padding:12px;
  border-bottom:1px solid #ddd;
}

.edit{
  background:#ff7a00;
  color:white;
  border:none;
  padding:6px 10px;
  margin-right:8px;
  border-radius:4px;
  cursor:pointer;
}

.delete{
  background:black;
  color:white;
  border:none;
  padding:6px 10px;
  border-radius:4px;
  cursor:pointer;
}